name: asst3.2
print_name: ASST3.2
description: >
  In this part of ASST3, you will add virtual address spaces to your VM.
version: 1
points: 120
type: asst
kconfig: ASST3
userland: true
meta_name: asst3
leaderboard: false
tests:
# Basic VM (30 points)
  - id: vm/not-dumbvm-vm.t
    points: 120
